header h1{
    position: absolute;
    color:#FF3E00;
    top:0px;
    left:50px;
    font-size:60px;
    
}
header{
    display: block;
    font-family: 'Quicksand', 'sans-serif';
}
#navbar ul{
    position: absolute;
    top:30px;
    right:30px;
}
#navbar li{
    font-size:24px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Quicksand', 'sans-serif';
}
#navbar li:hover{
    font-size:24px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', 'sans-serif';
}
body{
    margin:0;
    padding:0;
    border:0;
}