header h1{
    position: absolute;
    color:#FF3E00;
    top:5px;
    left:50px;
    font-size:48px;
    
}
header{
    display: block;
    font-family: 'Quicksand', 'sans-serif';
}
#header-button{
    position: absolute;
    top:40px;
    right:50px;
    font-family: 'Quicksand', 'sans-serif';
}
a{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Quicksand', 'sans-serif';
}
a:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', 'sans-serif';
}
.profile{
    position: absolute;
    top:20%;
    left:45%;
}
.profile-picture{
    font-family: "Quicksand", 'sans-serif';
    font-size: 20px;
    margin-bottom:30px;
   
}
.profile-picture h5{
    margin-left:-20px;
    margin-top:10px;
}
.profile-description{
    margin-left: -120px;
    margin-bottom:30px;
}
.profile-tags{
    margin-left: -50px;
}
.profile-tags ul{
    margin-left: -100px;
    margin-right:500px;
}

.profile-tags li{
    display:inline;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.profile-education input[type=text],.profile-location input[type=text]{
    width:350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;   
    margin-left:-100px;     
}
body{
    margin:0;
    padding:0;
    border:0;
}

