<!DOCTYPE html>
<html lang = "en">
<head>
        <meta charset = "UTF-8">
        <title>Edit Profile</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    
        
                        
        <% include header %>
    <div class =  "profile-description">
        <textarea id='bio'rows = 4 cols = 50 placeholder = <%= user.bio %>></textarea>
    </div>
    <div class = 'profile-tags'>
        <input id='tag-textbox' type='text' name='tags' placeholder='Enter a skill or quality tag'>
        <button onclick="addTags()">Add Tag</button>
        <br>
        <ul id = 'tag-list'>
        </ul>
    </div>
    <div class = "profile-education">
        <input type = 'text' name = 'education' placeholder = 'Which university do you attend?'><br>
    </div>
    <div id="new-password">
        <input type='email' name='email2' placeholder='Enter your email again'><br>
        <input type='password' name='password' placeholder='Reenter the password'><br>
    </div>
        <button id='Save'>Save</button>
    </div>
    <script src='/javascripts/updateprofile.js'></script>
    <!--<script src = '/javascripts/profile.js'></script>-->
    <% include footer %>
</body>
</html>