<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <header>
        <h1>Minder</h1>
        <div id = 'navbar'>
        <ul>
            
            <li><a href = "http://localhost:3000/users/profile-page">Profile</a></li>
            <li><a href = "http://localhost:3000/users/navigation">Find Friends</a></li>
            <li><a href = "http://localhost:3000/users/messages">Messages</a>  </li>
            <li><a href = "http://localhost:3000/users/logout">Logout</a></li>
        </ul>
        </div>
    </header>