<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel = 'stylesheet' href = '/public/stylesheets/login.css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Minder</h1>
        <div id = "header-button">
        <a href = "newpage.html">Don't have an account? Sign up Today!</a>
        </div>
    </header>
    <div class = "login-box">
        <h2>Log In</h2>
        <form>
            <input type = 'text' name = "username" placeholder = "Username or Email"> <br>
            <input type = 'password' name = "password" placeholder = 'Password'>
        </form>
        <button id = 'login-box-button'>Log In</button>
    </div>
    <script src='/public/javascripts/login.js'></script>
</body>
</html>
