<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "/stylesheets/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
    <header> 
        <h1>Minder</h1> 
        <div id= "header-button">
            <a href = "/users/login">Log In</a> 
        </div>
    </header>
    <div class = "join-box">
        <h2>Sign Up Today!</h2>
        <form action = "">
            <div id = "join-box-radio">
                <input type = "radio" name = "type" value = "Mentor">I am a Mentor<br>
                <input type = "radio" name = "type" value = "Mentee">I am looking for a Mentor<br>
            </div>
            <div id = "join-box-name">
            <input type = "text" name = "FirstName" placeholder="First Name">
            <input type = "text" name = "LastName" placeholder = "Last Name">
            <input type="email" name="Email" placeholder="Email">
            </div>
            <br>
            <input type = "text" name = "Location" placeholder = "Zip Code" id = "join-box-zip">
        </form>
        <button id = "join-box-button">Create Your Account!</button> 
    </div>
    <script src='/javascripts/newprofile.js'></script>
</body>
</html>