header h1{
    position: absolute;
    color:#FF3E00;
    top:5px;
    left:50px;
    font-size:48px;
    
}
header{
    display: block;
    font-family: 'Quicksand', 'sans-serif';
}
#header-button{
    position: absolute;
    top:40px;
    right:50px;
    font-family: 'Quicksand', 'sans-serif';
}
a,button{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Quicksand', 'sans-serif';
}
a:hover,button:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', 'sans-serif';
}
.join-box{
    font-family:'Quicksand','sans-serif';
    position: absolute;
    top:30%;
    left:40%;
}
.join-box h2{
    font-size:48px;
    margin-left:10px;
    color:white;
}
.join-box *{
    margin-bottom:20px;
}
#join-box-radio{
    font-size:18px;
    text-align: center;
    color:white;
}
#join-box-name{
    margin-bottom:-15px;
}
#join-box-zip{
    margin-bottom:-20px;
}
#join-box-button{
    margin-left:80px;
}
input[type=text], input[type = password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    border:0;
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}