header h1{
    position: absolute;
    color:#FF3E00;
    top:0px;
    left:50px;
    font-size:60px;
    
}
header{
    display: block;
    font-family: 'Quicksand', 'sans-serif';
}
#navbar ul{
    position: absolute;
    top:30px;
    right:30px;
}
#navbar li{
    font-size:24px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Quicksand', 'sans-serif';
}
#navbar li:hover{
    font-size:24px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', 'sans-serif';
}
@media only screen and (max-width : 540px) 
{
    .chat-sidebar
    {
        display: none !important;
    }
    
    .chat-popup
    {
        display: none !important;
    }
}
body
{
    background-color: #e9eaed;
}

.chat-sidebar
{
    width: 200px;
    position: fixed;
    height: 100%;
    right: 0px;
    top: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.sidebar-name 
{
    border: 2px solid black;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.sidebar-name span
{
    padding-left: 5px;
}

.sidebar-name a
{
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name:hover
{
    background-color:#e1e2e5;
}

.sidebar-name img
{
    width: 32px;
    height: 32px;
    vertical-align:middle;
}

.popup-box
{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 285px;
    background-color: rgb(237, 239, 244);
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head
{
    background-color: #6d84b4;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left
{
    float: left;
}

.popup-box .popup-head .popup-head-right
{
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}

.popup-box .popup-messages
{
    height: 100%;
    overflow-y: scroll;
}
.popup-box .popup-messages input[type=text]{
    position:fixed;
    bottom:0;
    width:18%;
}

/*
.side-bar{
    position:fixed;
    top:20%;
    left:0%;
    border:3px solid black;
}
.side-bar input[type=text]{
    display:block;
    margin:0 0 0 auto;
    width:90%;
    box-sizing:border-box;
    border: 2px solid #ccc;
    border-radius:4px;
    font-size:16px;
    background-color:white;
    background-repeat: no-repeat;
    padding:12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition:  width .4s ease-in-out;
    margin-right:50px;
    margin-left:20px;
    margin-bottom:600px;
}
#message-box{
    position:absolute;
    bottom:10px;
    left:31%;
}
.message-container{
    position: absolute;
    border: 3px solid black;
    width:1064px;
    left:28%;
    top:20%;
    height:400px;
    overflow: scroll;
}*/
