header h1{
    position: absolute;
    color:#FF3E00;
    top:0px;
    left:50px;
    font-size:60px;
    
}
header{
    display: block;
    font-family: 'Quicksand', 'sans-serif';
    margin-bottom:100px;
}
#navbar ul{
    position: absolute;
    top:30px;
    right:30px;
}
#navbar li,#navbar button{
    font-size:24px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-family: 'Quicksand', 'sans-serif';
}
#navbar li:hover,#navbar button:hover{
    font-size:24px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Quicksand', 'sans-serif';
}

.profile-picture{
    position:absolute;
    top:20%;
    left:2%;
    width:200px; 
    height:200px;
    border:3px solid black;
    margin-bottom:30px;
}
#map{
    position:absolute;
    top:20%;
    left:30%;
    width:500px; 
    height:200px;
    border:1px solid black;
    margin-bottom: 30px;
}
.profile-bio{
    position:absolute;
    top:50%;
    left:2%;
    width:500px;
    height:300px;
    border:3px solid black;

}
.profile-tags{
    position:absolute;
    top:20%;
    right:10%;
    width:300px;
    height:500px;
    border:3px solid black;
}