.profile-tags li{
    display:inline;
    border-radius: 20px;
    background: #e8e8e8;
    padding: 5px 15px;
    display: inline-block;
    margin: 3px;
        
}
#bootstrap-overrides{
    margin-bottom:30px;
}
.card-deck .card{
    width:50%;
}
#friends-box,#requests-box,#pending-box{
    height:150px;
    overflow-y: scroll;
}
.users{
    border:3px solid black;

}
.users *{
    margin:0;
}
